<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" android:installLocation="auto" package="org.quantumbadger.redreader" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application android:allowBackup="true" android:appComponentFactory="android.support.v4.app.CoreComponentFactory" android:debuggable="true" android:hardwareAccelerated="true" android:icon="@drawable/icon" android:label="@string/app_name" android:largeHeap="true" android:name="org.quantumbadger.redreader.RedReader" android:theme="@style/RR.Startup">
        <meta-data android:name="android.max_aspect" android:value="2.1"/>
        <meta-data android:name="com.lge.support.SPLIT_WINDOW" android:value="true"/>
        <activity android:alwaysRetainTaskState="true" android:clearTaskOnLaunch="false" android:configChanges="keyboardHidden|orientation|screenSize" android:finishOnTaskLaunch="false" android:name="org.quantumbadger.redreader.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="org.quantumbadger.redreader.settings.SettingsActivity"/>
        <activity android:name="org.quantumbadger.redreader.activities.LinkDispatchActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*.reddit.com" android:scheme="http"/>
                <data android:host="reddit.com" android:scheme="http"/>
                <data android:host="redd.it" android:scheme="http"/>
                <data android:host="*.reddit.com" android:scheme="https"/>
                <data android:host="reddit.com" android:scheme="https"/>
                <data android:host="redd.it" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="org.quantumbadger.redreader.activities.PostListingActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="org.quantumbadger.redreader.activities.CommentListingActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="org.quantumbadger.redreader.activities.ChangelogActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="org.quantumbadger.redreader.activities.ImgurUploadActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="org.quantumbadger.redreader.activities.MoreCommentsListingActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="org.quantumbadger.redreader.activities.WebViewActivity" android:theme="@style/RR.Dark"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="org.quantumbadger.redreader.activities.HtmlViewActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="org.quantumbadger.redreader.activities.OAuthLoginActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="org.quantumbadger.redreader.activities.AlbumListingActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="org.quantumbadger.redreader.activities.ImageViewActivity" android:theme="@style/RR.Dark"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="org.quantumbadger.redreader.activities.CommentReplyActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="org.quantumbadger.redreader.activities.CommentEditActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="org.quantumbadger.redreader.activities.PMSendActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="org.quantumbadger.redreader.activities.PostSubmitActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleInstance" android:name="org.quantumbadger.redreader.activities.BugReportActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="org.quantumbadger.redreader.activities.InboxListingActivity"/>
        <receiver android:name="org.quantumbadger.redreader.receivers.NewMessageChecker"/>
        <receiver android:name="org.quantumbadger.redreader.receivers.RegularCachePruner"/>
        <receiver android:name="org.quantumbadger.redreader.receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <uses-library android:name="com.sec.android.app.multiwindow" android:required="false"/>
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true"/>
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:resource="@dimen/app_defaultsize_w"/>
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:resource="@dimen/app_defaultsize_h"/>
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:resource="@dimen/app_minimumsize_w"/>
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:resource="@dimen/app_minimumsize_h"/>
        <provider android:authorities="org.quantumbadger.redreader.provider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
    </application>
</manifest>